body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box {
    width: 200px;
    object-fit: cover;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

P {
    font-size: 2rem;
    padding: 20px;
}

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #fcd5cea8;
}

button {
    margin: 10px 0;
    padding: 10px 15px;
    background: transparent;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#sing {
    border: 2px solid green;
}

#sing:hover {
    color: white;
    background: green;
}

#stop {
    border: 2px solid red;
}

#stop:hover {
    color: white;
    background: red;
}